body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
}

.container {
  width: 600px;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border: 1px solid #ddd;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: black;
}

.category-container {
  display: flex;
  border: 1px solid #fda1a1;
}

.left-panel {
  width: 50%;
  border-right: 1px solid #939090;
}

.right-panel {
  width: 50%;
}

.category-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 12px;
  cursor: pointer;
  transition: background 0.2s;
}

.cat-icon {
  font-size: 1.3em;
  color: #9bc8f5;
}

.cat-label {
  flex: 1;
}

.subcategory-item {
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 8px 10px;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.2s;
}

.subcat-icon {
  font-size: 1.1em;
  color: #afd0f2;
}

.subcat-label {
  flex: 1;
}

.category-item,
.subcategory-item {
  padding: 12px 16px;
  cursor: pointer;
}

.category-item:hover,
.subcategory-item:hover {
  background-color: #f1f0f0;
}

.active {
  background-color: #cab9c5;
  font-weight: bold;
}
